<% is_own = current_user && message.user_id == current_user.id %>
<% can_moderate = is_own || (current_user && current_user.is_moderator?) %>
<% alignment_class = is_own ? "message-own-alignment" : "" %>
<% message_class = is_own ? "message message-you" : "message" %>

<%= tag.div id: dom_id(message),
    data: {
      controller: "message-menu",
      message_menu_is_own_value: is_own,
      message_menu_content_value: message.content.to_s,
      message_menu_edit_url_value: can_moderate ? edit_chat_message_path(message.chat, message) : "",
      message_menu_delete_url_value: can_moderate ? chat_message_path(message.chat, message) : ""
    } do %>
  <div class="<%= alignment_class %>">
    <p class="message-meta">
      <%= is_own ? "You" : message.user.name %> · <time datetime="<%= message.created_at.iso8601 %>" data-live-time><%= time_ago_in_words(message.created_at) %> ago</time>
    </p>
    <div class="<%= message_class %>">
      <%= render_markdown message.content %>
      <% if message.attachment.attached? %>
        <%= link_to message.attachment, target: "_blank", rel: "noopener noreferrer" do %>
          <% if message.attachment.content_type.start_with?("image/") %>
            <%= image_tag message.attachment, class: is_own ? "attachment-image-own" : "attachment-image-other" %>
          <%# <% elsif message.attachment.previewable? %>
            <%# <%= image_tag message.attachment.preview(resize_to_limit: [200, 200]) %>
          <% else %>
            <p>
              <span class="attachment-icon">📎</span> <%= message.attachment.filename %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <template data-message-menu-target="template">
    <div class="context-menu" hidden>
      <button type="button" data-menu-action="copy">Copy text</button>
      <% if can_moderate %>
        <button type="button" data-menu-action="edit">Edit</button>
        <button type="button" data-menu-action="delete">Delete</button>
      <% end %>
    </div>
  </template>
<% end %>
