<% is_own = message.user == User.find(session[:user_id]) %>
<% alignment_class = is_own ? "message-own-alignment" : "" %>
<% message_class = is_own ? "message message-you" : "message" %>

<%= tag.div id: dom_id(message) do %>
  <div class="<%= alignment_class %>">
    <p class="message-meta">
      <%= is_own ? "You" : message.user.name %> · <%= time_ago_in_words(message.created_at) %> ago
    </p>
    <div class="<%= message_class %>">
      <%= render_markdown message.content %>
      <% if message.attachment.attached? %>
        <%= link_to message.attachment, target: "_blank", rel: "noopener noreferrer" do %>
          <% if message.attachment.content_type.start_with?("image/") %>
            <%= image_tag message.attachment, class: is_own ? "attachment-image-own" : "attachment-image-other" %>
          <%# <% elsif message.attachment.previewable? %>
            <%# <%= image_tag message.attachment.preview(resize_to_limit: [200, 200]) %>
          <% else %>
            <p>
              <span class="attachment-icon">📎</span> <%= message.attachment.filename %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>