<div class="section">
    <h1>Edit Profile</h1>

    <%= form_with(model: @user, path: user_path(@user), method: :patch) do |form| %>
        <% if @user.errors.any? %>
            <div class="error-messages">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <div class="field">
            <%= form.label :email, class: "label-block" %>
            <%= form.email_field :email %>
        </div>

        <div class="field">
            <%= form.label :name, class: "label-block" %>
            <%= form.text_field :name %>
        </div>

        <div class="field">
            <%= form.label :avatar, class: "label-block" %>
            <%= form.file_field :avatar, accept: "image/*" %>
        </div>

        <div class="field">
            <%= form.label :bio, class: "label-block" %>
            <%= form.text_area :bio, class: "btn" %>
        </div>

        <div class="field">
            <%= form.label :img_url, class: "label-block" %>
            <%= form.text_field :img_url %>
        </div>

        <div>
            <%= form.submit "Update Profile", class: "btn-primary" %>
        </div>
    <% end %>
</div>