<div class="full-height-layout">
  <%= content_for :title, @user.name %>

  <div class="page-header">
    <h1><%= image_tag @user.avatar, style: "width: 1em; height: 1em; border-radius: 20%; margin-right: 10px; object-fit: cover; vertical-align: middle;" if @user.avatar.attached? %><%= @user.name %></h1>
    <% if session[:user_id] == @user.id %>
      <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="scrollable-content">
    <h2>Bio</h2>
    <div class="section section-light"><%= render_markdown @user.bio %></div>

    <% if @user.img_url != "" %>
      <h2>Background Picture</h2>
      <img width="300" src="<%= @user.img_url %>" alt="Background picture">
    <% end %>
  </div>
</div>