<%= form_with(model: chat) do |form| %>
  <% if chat.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
        <% chat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "label-block" %>
    <%= form.text_field :name %>
  </div>

  <% if chat.new_record? && current_user.is_moderator? %>
    <div>
      <%= form.label :chat_type, "Chat type", class: "label-block" %>
      <%= form.select :chat_type, [ [ "Group chat", "group_chat" ], [ "Announcements", "announcements" ] ], {}, class: "btn" %>
    </div>
  <% end %>

  <br>

  <div>
    <% users = User.all.collect {|user| [user.name, user.id] }.reject { |user| !User.find(user[1]).confirmed } %>
    <% # users = User.all.collect {|user| [user.name, user.id] }.reject {|user| user[1] == session[:user_id] } %>
    <%= form.label "Users", class: "label-block" %>
    <%= form.select "user_ids", users, {}, { multiple: true, size: 10, class: "btn" } %>
  </div>

  <div>
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
