<%= form_with(model: chat) do |form| %>
  <% if chat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
        <% chat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <br>

  <div>
    <% users = User.all.collect {|user| [user.name, user.id] } %>
    <%= form.label "Users", style: "display: block" %>
    <%= form.select "user_ids", users, {}, { multiple: true, size: 10 } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
