<div class="section" style="grid-row: 1; grid-column: 1; float: left; display: grid; grid-template-columns: auto fit-content(100%) fit-content(100%); grid-template-rows: fit-content(100%) 1fr auto; gap: 10px; height: 100%;">
  <% content_for :title, @chat.name %>
  
  <h1><%= @chat.name %></h1>
  <%= button_to "Destroy Chat", @chat, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <%= button_to "Edit chat", edit_chat_path(@chat), method: :get, class: "btn btn-primary" %>

  <div id="messages" class="section section-light" style="grid-row: 2; grid-column: 1 / -1; overflow-y: auto;">
    <%= render @chat.messages %>
  </div>

  <%= form_with(model: [@chat, @chat.messages.build], id: "message_form") do |form| %>
    <div class="field" style="grid-row: 3; grid-column: 1 / -1; display: flex; gap: 10px;">
      <%= form.text_field :content, placeholder: "Type your message...", style: "flex: 1;" %>
      <%= form.submit "Send", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="section" style="float: right; height: 100%; grid-row: 1; grid-column: 2; ">
  <h2>Members</h2>
  <hr>
  <% @chat.users.each do |user| %>
    <p><%= user.name %></p>
  <% end %>
</div>
<%= turbo_stream_from @chat %>