<div class="chat-layout">
  <div id="messages_section" class="section messages-section">
    <% content_for :title, @chat.name %>

    <div class="chat-header"
    <% if @shown_as_moderator %>
      style="background-color: rgba(255, 128, 0, 0.4); padding: 5px; border-radius: 12px;"
    <% end %>
    >
      <h1 class="text-no-margin"><%= @chat.name %></h1>
      <%= button_to "Destroy Chat", @chat, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <%= button_to "Edit chat", edit_chat_path(@chat), method: :get, class: "btn btn-primary" if @chat.group_chat? %>
    </div>

    <div id="messages" class="section section-light messages-container">
      <%= render @chat.messages %>
    </div>

    <script>
      function scrollToBottom() {
          const box = document.getElementById("messages");

          if (box) {
              // Set scrollTop to the maximum scroll height
              box.scrollTop = box.scrollHeight;
          }
      }

      setTimeout(scrollToBottom, 16);
    </script>

    <%= form_with(model: [@chat, @chat.messages.build], id: "message_form") do |form| %>
      <div class="field message-form-field">
        <%= form.text_area :content,
          placeholder: "Type your message...",
          rows: 2,
          class: "btn message-input",
          id: "message_input",
          autofocus: true %>
          <script>
            document.addEventListener("turbo:load", () => {
              const input = document.getElementById("message_input");
              const form  = document.getElementById("message_form");

              input.addEventListener("keydown", (event) => {
                if (event.key === "Enter") {
                  if (event.shiftKey) {
                    // Allow newline
                    return;
                  } else {
                    // Submit form
                    event.preventDefault();
                    form.requestSubmit();
                  }
                }
              });
            });
          </script>
        <%= form.label :attachment, style: "display: inline;", class: "btn" %>
        <%= form.file_field :attachment, style: "display: none;" %>
        <%= form.submit "Send", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <%= turbo_stream_from [ @chat, current_user ] %>
  <div id="members" class="section members-section">
    <h2>Members</h2>
    <hr>
    <% @chat.users.each do |user| %>
      <p><%= image_tag user.avatar, style: "width: 1em; height: 1em; border-radius: 20%; margin-right: 10px; object-fit: cover; vertical-align: middle;" if user.avatar.attached? %><%= link_to user.name, user, class: "link-no-decoration" %></p>
    <% end %>
  </div>
</div>